.tab-panel {

  display: flex;
  background-color: green;

  .tab {
    cursor: pointer;
    padding: 10px;

    &.active {
      background-color: white;
    }

    h3 {
      margin: 0;
    }
  }

}
